# Dependencies
node_modules
.pnp
.pnp.js

# Next.js
.next/
out/
next-env.d.ts

# Production
build
dist

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# Strapi
license.txt
exports
*.cache
.strapi-updater.json

# Logs
logs
*.log

# Coverage
coverage

# Temp directories
.temp
.tmp
.cache
tmp

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?